body
  background-image: url(image_path('bg.jpg'))
  padding-bottom: 40px


#logo
  h1
    color: #fff
    font-size: 16px
    line-height: 16px
    padding-top: 7px
    font-weight: bold
    margin-bottom: 10px

  a
    display: none

#auth-bar-bg
  background-color: #000

  #auth-bar
    text-align: right

    ul
      margin: 2px 0 0 0

      li
        display: inline-block

        a
          color: #aaa
          font-size: 12px
          padding: 0 10px
          border-right: 1px solid #333
          text-decoration: none

        &:last-child
          a
            padding-right: 0
            border-right: none

#header-bg
  background-color: #333
  padding-top: 10px

  #search
    margin-top: -5px
    text-align: right

    input[type='search']
      width: 100%
      @include box-sizing(border-box)
      margin-bottom: 0
      padding: 4px 8px

    input[type='submit']
      display: none

  header
    nav
      ul
        margin-bottom: 0

        li
          margin-bottom: 0
          display: inline-block

          &:first-child
            margin-left: 0

          a
            display: block
            font-size: 14px
            padding: 2px 8px
            color: #fff
            background-color: #666
            text-decoration: none
            @include border-radius(3px 3px 0 0)

            &:hover
              background-color: #555

            &.current
              background-image: url(image_path('bg.jpg'))
              color: #333

#content-bg
  margin-top: 10px

#flash, .flash
  margin: 5px 0 20px 0
  padding: 10px
  text-align: center
  @include border-radius(3px)

  &.success
    border: 1px solid #090
    background-color: #efe
    color: #060

  &.warning
    border: 1px solid #cc0
    background-color: #ffe
    color: #aa0

  &.error
    border: 1px solid #b00
    background-color: #fee
    color: #900

.field_with_errors
  margin-bottom: 20px
  color: #900

  input, select
    margin-bottom: 0
    border: 2px solid #b00
    background-color: #f9f3f3

    &:focus
      border: 2px solid #b00

  span
    display: inline-block
    margin: 4px 0 0 5px

.input, input.button
  display: block
  clear: both

.numeric_array
  label:not(:first-child)
    display: inline-block
    width: 10px
    padding: 0 5px
  input
    display: inline-block
    width: 70px

table
  width: 100%
  margin-bottom: 20px
  background-color: #fff
  border: 1px solid #ccc
  border-collapse: separate
  @include border-radius(3px)
  @include box-sizing(border-box)

  tbody th
    width: 140px


  tr
    td, th
      border-bottom: 1px solid #ccc
      padding: 9px
      vertical-align: middle

      &.price
        text-align: right

      a
        color: #333
        font-weight: bold
        text-decoration: none
        display: block
        background: url(image_path('arrow-right.png')) no-repeat right center

        &:hover
          color: #000

        &:active
          color: #38f

        small
          color: #666
          font-weight: normal

    td:first-child, th
      font-weight: bold
      padding-left: 10px
      text-align: left

    &:last-child
      td, th
        border-bottom: none

input[type="submit"]
  margin-top: 25px

#main, #sidebar
  article, section
    header
      position: relative
      text-align: right

      h2, h3, h4
        float: left
        text-align: left

      form
        float: right

        input[type='submit']
          margin-top: 0

      & + *
        clear: both

#sidebar
  margin-top: 38px

.actions
  text-align: center

  input[type='submit']
    min-width: 50%
    @include button(shiny)

    &.danger
      @include button(shiny, #f00)


h3.date
  margin: 10px 0 20px 0

.statuses
  position: absolute
  right: 0
  top: 10px
  display: block
  text-align: center

  li
    display: none
    padding: 3px 8px
    text-transform: uppercase
    font-size: 80%
    font-weight: bold
    @include border-radius(5px)

    a
      text-decoration: none
      color: #fff
      display: block

    &.all
      display: block
      background: #fff

      a
        color: #333

    &.draft
      border: 1px dashed #ccc
      background-color: #fff

      a
        color: #666

    &.to_be_confirmed
      background-color: #36c

    &.confirmed
      background-color: #3a6

    &.rejected
      background-color: #c33

    &.cancelled
      background-color: #000

  &.draft
    li
      &.all
        display: none
      &.draft
        display: block
  &.to_be_confirmed
    li
      &.all
        display: none
      &.to_be_confirmed
        display: block
  &.confirmed
    li
      &.all
        display: none
      &.confirmed
        display: block
  &.rejected
    li
      &.all
        display: none
      &.rejected
        display: block
  &.cancelled
    li
      &.all
        display: none
      &.cancelled
        display: block

  &:hover
    @include border-radius(5px)
    padding: 3px
    background-color: #eee
    border: 1px solid #999

    li
      display: block !important
      margin-bottom: 3px

.activities
  th
    width: 41px
    border-right: 1px dashed #ccc
    text-align: center

    .date
      display: block
    .time
      font-weight: normal
      font-size: 85%

  .text
    display: block

  .company, .client, .city
    font-size: 90%
    color: #999
    font-weight: normal

#breadcrumbs
  border-bottom: 1px solid #ccc
  padding: 5px
  font-size: 13px


.label
  text-align: right

  span
    display: inline-block
    color: #fff
    font-size: 75%
    font-weight: bold
    text-transform: uppercase
    text-align: center
    padding: 1px 6px
    @include border-radius(3px)

    &.order_status
      &.draft
        border: 1px dashed #ccc
        background-color: #fff
        color: #666
      &.to_be_confirmed
        background-color: #36c
      &.confirmed
        background-color: #3a6
      &.rejected
        background-color: #c33
      &.cancelled
        background-color: #333

.orders
  td
    &.label
      width: 80px

    .company, .client
      font-size: 85%
      color: #999
      font-weight: normal

#order_items
  td
    position: relative

    .quantity
      float: right
      margin: 12px 20px auto 0
      color: #666

    .color, .total_price
      font-size: 85%
      color: #999
      font-weight: normal

.prev-next
  a
    @include button(#999)
    text-decoration: none

    &:last-child
      float: right

@media screen and (max-width: 767px)
  #logo
    h1
      font-size: 110%
      float: left
      margin-top: 8px
      margin-bottom: 17px

    a
      float: right
      margin-top: 8px
      @include button(#555)
      text-decoration: none

  #auth-bar
    display: none

  #header
    header
      nav
        ul
          margin: 15px 0

          li
            display: inline-block
            width: 100%
            margin-bottom: 8px
            text-align: center
            @include box-sizing(border-box)

            a
              @include border-radius(0px)
              padding: 5px 10px

  #search
    margin-bottom: 20px


  #content
    margin-top: 10px

  table
    tbody
      th
        width: 110px
    .extra
      display: none

  label abbr
    font-size: 16px

  .numeric_array
    input
      width: 70px
      margin-right: -5px

@media screen and (max-width: 479px)
  table
    tbody
      th
        overflow: hidden
        width: 90px

  .limit-width
    width: 210px

  .numeric_array
    label:not(:first-child)
      width: 7px
      padding: 0 2px
    input
      width: 60px
      margin-right: -10px
