#main.ten.columns
  %article
    %header
      %h2= t 'label.company.plural'
      = link_to t('label.add'), new_company_path, :class => 'button-pill'

    - if @companies.length > 0
      %table.companies
        - @companies.each do |company|
          %tr
            %td= link_to company.name, company
    - else
      %p= t 'label.no_records', :model => t('activerecord.models.company')
