#auth-bar-bg
  .container
    .eight.columns.alpha.omega
      %h1 Rep
    .eight.columns.alpha.omega
      #auth-bar
        %ul
          %li= link_to 'Minha Conta', '#minha_conta'
          %li= link_to 'Preferências', '#preferencias'
          %li= link_to 'Sair', '#logout'
