#auth-bar-bg
  .container
    #auth-bar.sixteen.columns.alpha.omega
      %ul
        %li= link_to 'Minha Conta', '#minha_conta'
        %li= link_to 'Preferências', '#preferencias'
        %li= link_to 'Sair', '#logout'
