#auth-bar-bg
  .container
    #logo.eight.columns
      %h1 Rep
      %a.active{:href => '#'} Menu
    #auth-bar.eight.columns
      %ul
        %li= link_to 'Minha Conta', '#minha_conta'
        %li= link_to 'Preferências', '#preferencias'
        %li= link_to 'Sair', '#logout'
